<h4>Registro de clvea</h4>
<div class="row">
    <div class="col-md-6">
        <form action="/clveag" method="post">

            <div class="my-3">
                <label for="codigo_principals">Primera</label>
                <input class="form-control" name="claveacccol" type="text" placeholder="Codigo Principal"
                    autofocus>
            </div>
            <div class="my-3">
                <label for="codigo_auxiliars">Segundaparte1</label>
                <input class="form-control" name="claveacccol1" type="text" placeholder="codigo auxiliar">
            </div>
                        <div class="my-3">
                <label for="codigo_auxiliars">Segundaparte2</label>
                <input class="form-control" name="claveacccol2" type="text" placeholder="codigo auxiliar">
            </div>
           
            <div class="text-end">
                <button class="btn btn-primary">Ingresar</button>
            </div>

        </form>
    </div>


    
    </div>
</div>