<h>Subir Firma</h>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="upl" id="">
    <input type="submit" value="enviar">
</form>
<div class="col-md-6">
    <div class="table-responsive">
        <table class="table table-stripe table-hover">
            <thead>
                <th>Nombres</th>

            </thead>
            {{#each firmas}}
            <tr>
                <td>{{this.archivo}}</td>

            </tr>
            {{/each }}
        </table>
    </div>
</div>