
<form action="/clientesb" method="post">
    <div class="my-2">
        <label for="usuario_comentarios">nombre</label>
        <input type="text" id="usuario_comentarios" name="usuario_comentarios" class="form-control">
    </div>

    <div class="text-end">
        <button class="btn btn-primary">comenta</button>
    </div>
